<body>
	<div class="ui main container">
		<div id="webSocketStatus">Web socket status: <b>Disconnected</b></div>

		<!-- Menu -->
		<div class="ui pointing menu">
			<div class="ui dropdown icon item active">
				<i class="cog icon"></i>
			</div>
			<a class="item">
				Home
			</a>
			<a class="item">
				Auto-complete
			</a>
			<a class="item">
				Formatter
			</a>
			<a class="item">
				Launcher
			</a>
			<div class="right menu">
				<div class="item">
					<div class="ui transparent icon input">
						<input type="text" placeholder="Search...">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
		</div>