<!-- Body -->
<div class="ui bottom center aligned horizontal segments">
	<div class="ui compact segment">
		<button class="circular ui icon button blue add-command" data-tooltip="Create new command">
			<i class="icon plus"></i>
		</button>
	</div>
	<div class="ui raised segment container">
		<div class="ui cards four sortable" id="cards-parent">
		</div>
	</div>
</div>
</div>

<div class="ui modal add-command-modal">
	<div class="header">New command</div>
	<div class="content">
		<form class="ui form" id="form-modal" action="" method="post">
			<div class="ui field">
				<label>Title</label>
				<input type="text" name="title" placeholder="Enter title...">
			</div>
			<div class="ui divider"></div>
			<div class="ui field">
				<label>Description</label>
				<input type="text" name="description" placeholder="Enter description...">
			</div>
			<div class="ui divider"></div>
			<div class="ui field">
				<label>Command</label>
				<input type="text" name="command" placeholder="Enter command. Ex: /key">
			</div>
			<div class="ui divider"></div>
			<div class="ui field">
				<label>Output text</label>
				<input type="text" name="output" placeholder="Enter output text. Ex: VALUE( object.Key() )">
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui black cancel button">
			Cancel
		</div>
		<div class="ui right ok labeled icon button green">
			Save <i class="checkmark icon"></i>
		</div>
	</div>
</div>